
*{
    margin: 0px;
    padding: 0px;
    scrollbar-color: var(--golden);
    background-size: cover;
    box-sizing: border-box;
    scroll-behavior: smooth;
   }
@font-face {
    font-family: 'Lovelo';
    src: url(fonts/Lovelo\ Black.otf);
}
mark{
    background-color: var(--golden);
}
:root{
--golden: #b7985a;
--purple: #3D2760;
--lightpurple: #B192C1;
}
body{
    padding: 0;
    margin: 0;
    height: 1442vh;
    display: grid;  
    grid-template-columns: 1fr;
    grid-template-rows: 0.09fr 0.93fr 0.5fr 2.8fr 0.8fr 1.7fr 1.7fr 1.6fr 0.8fr 2.5fr 0.8fr;
    grid-template-areas: 
    "header"
    "video"
    "obsah"
    "vysledky1"
    "ogrindsete"
    "text1"
    "text2"
    "faq"
    "porozmyslaj"
    "vysledky2"
    "footer";
    background-color: black;
    font-family: 'Lovelo';
    color: white;
}
h1, h2, h3{
    font-weight: normal;
}
h2{
    font-size: 6cqi;
    line-height: 300%;
}
header{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding: 0% 4%;
    grid-area: header;
}
.menu{
    height: 75%;
    width: 20%;
    background-image: url(images/menu.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.logo-text{
    height: 100%;
    width: 50%;
    background-image: url(images/grindset-logo-text.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
.menu-container{
    bottom: 2%;
    right: 4%;
    left: 0 ;
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all .3s;
}
.collapsible0--expanded > .menu-container{
    max-height: 100vh;
    opacity: 1;
}
.blackness{
    height: 100%;
    width: 30%;
    background-color: black;
    opacity: 50%;
}
 .menu-container nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    height: 100%;
    width: 70%;
    gap: 6%;
    padding: 10% 10%;
    background-color: black;
}
.menu-container nav .x{
    position: absolute;
    margin-left: 55%;
    width: 5%;
    height: 2.5%;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/x.png);
}
.menu-container .logo-text{
    background-size: 80%;
    background-position: center;
    height: 6%;
    width: 100%;
}
.menu-container .btn1{
    padding: 5% 5%;
    width: 100%;
}
nav a{
    text-decoration: none;
}
nav p{
    color: white;
}
nav p:hover{
    color: var(--golden);
}
/*
.vertical-line-container{
    height: 100%;
    padding-top: 3%;
    width: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.vertical-line{
    opacity: 50%;
    height: 70%;
    width: 5%;
    background-color: white;
}
*/
#video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    grid-area: video;
}
#video h1{
    font-size: 8cqi;
}
.video-text-container{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.text{ 
    text-align: center;
}
.video-container{
    width: 90%;
    height: 40%;
}
.video{
    width: 100%;
    height: 100%;
}
#obsah{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    grid-area: obsah;
}
.obsah-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 80%;
}
#obsah .text-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.line1{
    font-size: 3cqi;
    opacity: 70%;
    line-height: 150%;
}
.gs{
    color: var(--golden);
}
ul{
    font-size: 4cqi;
    padding-left: 5%;
list-style-type: circle;
}
li{
    margin-bottom: 8%;  
    line-height: 120%;
}
button{
    width: 40%;
    border-radius: 100px;
    border: solid 2px var(--golden); 
    background-color: transparent;
    font-family: 'Lovelo';
    color: white;
    padding: 4% 2%;
    font-size: 3cqi;
}
button:hover{
    cursor: pointer;
    color: var(--golden);
}


#vysledky1{
    display: flex;
    align-items: end;
    justify-content: center;
    grid-area: vysledky1;
}
.vysledky-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 100%;
    height: 100%;
}
.images-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 88%;
}
.vysledky-image1, .vysledky-image2, .vysledky-image3{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 90%;
    height: 33%;
}
.vysledky-image1{
    background-image: url(images/vysledky-img1.png);
}
.vysledky-image2{
    background-image: url(images/vysledky-img2.png);
}
.vysledky-image3{
    background-image: url(images/vysledky-img3.png);
}
#ogrindsete{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: ogrindsete;
}
.ogrindsete-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 90%;
    width: 80%;
    text-align: left;
    gap: 5%;
    line-height: 200%;
}
#ogrindsete h1 {
    font-size: 6cqi;
}
#ogrindsete p {
    font-size: 4cqi;
}
#text1{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: text1;
}
.text1-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
}
#text1 .text-container {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: start;
    gap: 1%;
}
#text1 h2{
    line-height: normal;
}
#text1 p{
    font-size: 4cqi;
    line-height: 150%;
}
.low-opacity{
    opacity: 0.7;
}
#text1 .image-container{
    height: 40%;
    width: 90%;
    background-size: contain;
    overflow: hidden;
    background-image: url(images/text1-img.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
}
#text2{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: text2;   
}
.text2-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 80%;
}
#text2 .text-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: start;
    gap: 1%;
}
#text2 h2{
    line-height: normal;
}
#text2 li{
    font-size: 4cqi;
    line-height: 150%;
}
#text2 .btn2{
    height: 8%;
}
#text2 .image-container{
    height: 40%;
    width: 90%;
    background-size: contain;
    overflow: hidden;
    background-image: url(images/text2-img.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
}
#text3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 5% 5%;
    grid-area: text3;
}
#text3 .image-container{
    background-image: url(images/text3-img.png);
}

#faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: faq;
}
.faq-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 90%;
    gap: 2%;
}
#faq h2{
    font-size: 6cqi;
}
.row-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-size: 4cqi;
    gap: 4%;
}
.question{
    width: 100%;
    height: auto;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #b7985a, #544126);
}
#faq h2{    
    line-height: normal;
}
#faq p{
    font-size: 3cqi;
    line-height: 150%;
    color: black;
}
#faq h3{
    color: white;
    font-weight: normal;
    margin-bottom: 2%;
    font-size: 4cqi;
}
#porozmyslaj{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: porozmyslaj;
}
.porozmyslaj-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 80%;
}
#porozmyslaj h2{
    line-height: 150%;
}
#porozmyslaj p{
    line-height: 150%;
    font-size: 4cqi;
}
#porozmyslaj button{
    width: 10%;
    height: 150%;
}
#vysledky2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    grid-area: vysledky2;
}
#vysledky2 .vysledky-container{
    height: 90%;
}
#vysledky2 .vysledky-image1{
    background-size: 110%;
    background-image: url(images/vysledky-img4.png);
}
#vysledky2 .vysledky-image2{
    background-size: 110%;
    background-image: url(images/vysledky-img5.png);
}
#vysledky2 .vysledky-image3{
    background-size: 110%;
    background-image: url(images/vysledky-img6.png);
}
#vysledky2 h2{
    font-size: 6cqi;
}
#vysledky2 button{
    height: 3%;
    width: 30%;
    text-align: center;
    padding: 1% 1%;
    margin: auto;
    background-color: var(--golden);
    color: black;
}
#vysledky2 button:hover{
    background-color: transparent;
    color: var(--golden);
}
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
footer p{
    font-size: 2cqi;
}
footer .img{
    width: 30%;
    height: 50%;
    background-image: url(images/grindset-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.clickable:hover{
    color: var(--golden);
    cursor: pointer;
}
.terms{
    line-height: 200%;
    padding: 5% 5%;
    height: 600vh;
    display: grid;  
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 2.5fr 2.5fr;
    grid-template-areas: 
    "terms"
    "privacy"
    "disclaimer"
}
.domov-btn-container{
    width: 100%;
    height: 30%;
    margin: 2%;
}
.domov-btn{
    width: 8%;
    height: 100%;
}
.mobile-disappear{
    display: none;
}
@media (min-width: 768px) {
    
*{
    margin: 0px;
    padding: 0px;
    scrollbar-color: var(--golden);
    background-size: cover;
    box-sizing: border-box;
    scroll-behavior: smooth;
   }
   body{
    padding: 0px;
    margin: 0px;
    height: 925vh;
    display: grid;  
    grid-template-columns: 1fr;
    grid-template-rows: 0.12fr 0.88fr 1fr 1fr 0.5fr 1fr 1fr 1fr 0.25fr 1fr 0.5fr;
    grid-template-areas: 
    "header"
    "video"
    "obsah"
    "vysledky1"
    "ogrindsete"
    "text1"
    "text2"
    "faq"
    "porozmyslaj"
    "vysledky2"
    "footer";
    background-color: black;
    font-family: 'Lovelo';
    color: white;
}
h1, h2, h3{
    font-weight: normal;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 0% 10%;
    gap: 2%;
    grid-area: header;
}
.logo-text{
    height: 100%;
    width: 30%;
    background-image: url(images/grindset-logo-text.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 100%;
    width: 70%;
    gap: 6%;
    padding-top: 2.5%;
}
nav a{
    text-decoration: none;
}
nav p{
    color: white;
}
nav p:hover{
    color: var(--golden);
}
.vertical-line-container{
    height: 100%;
    padding-top: 3%;
    width: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.vertical-line{
    opacity: 50%;
    height: 70%;
    width: 5%;
    background-color: white;
}
.horizontal-line{
    left: 0%;
    top: 15%;
    position: absolute;
    opacity: 50%;
    height: 0.2%;
    width: 100%;
    background-color: white;
}
button{
    border-radius: 100px;
    border: solid 2px var(--golden); 
    font-family: 'Lovelo';
    color: white;
    font-size: 80%;
    padding: 0%;
}
button:hover{
    cursor: pointer;
    color: var(--golden);
}
.btn1{
    padding: 1.3% 1.2%;
    text-align: center;
    height: 40%;
    width: 12%; 
    margin-top: 2%;
}
#video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    grid-area: video;
    display: flex;
}
#video h1{
    font-size: 300%;
}
.video-text-container{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    gap: 5%; 
}
.text{ 
    text-align: center;
}
.video-container{
    width: 70%;
    height: 70%;
}
.video{
    width: 100%;
    height: 100%;
}
#obsah{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: obsah;
}
.obsah-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
    width: 90%;
}
#obsah .text-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 45%;
    height: 100%;
}
.line1{
    font-size: 120%;
    opacity: 70%;
    line-height: 300%;
}
.gs{
    color: var(--golden);
}
h2{
    font-size: 250%;
    line-height: 300%;
}
ul{
    font-size: 120%;
    padding-left: 5%;
list-style-type: circle;
}
li{
    margin-bottom: 8%;  
    line-height: 120%;
}

#obsah .image-container{
    width: 45%;
    height: 100%;
    background-image: url(images/grindset-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.btn2{
    height: 6%;
    width: 25%; 
}
#vysledky1{
    display: flex;
    align-items: end;
    justify-content: center;
    grid-area: vysledky1;
}
#vysledky1 h1{
    font-size: 300%;
}
.vysledky-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 100%;
    height: 100%;
}
.images-container{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    width: 80%;
    height: 88%;
}
.vysledky-image1, .vysledky-image3{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 30%;
}
.vysledky-image1{
    background-image: url(images/vysledky-img1.png);
}
.vysledky-image2{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 85%;
    width: 40%;
    background-image: url(images/vysledky-img2.png);
}
.vysledky-image3{
    background-image: url(images/vysledky-img3.png);
}
#ogrindsete{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: ogrindsete;
}
#ogrindsete h1{
    line-height: 150%;
    font-size: 300%;
}
#ogrindsete p {
    font-size: 120%;
}
.ogrindsete-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 70%;
    text-align: center;
    gap: 5%;
}
#text1{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: text1;
}
.text1-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 80%;
}
#text1 .text-container {
    width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        gap: 5%;
        padding-top: 5%;
}
#text1 .text-container h2{
    line-height: normal;
}
#text1 .text-container p{
    font-size: 150%;
    line-height: 150%;
}
.low-opacity{
    opacity: 0.7;
}
#text1 .image-container{
    width: 45%;
    height: 100%;
    background-size: 80%;
    background-position: center;
    background-image: url(images/text1-img.png);
    background-repeat: no-repeat;
}
#text2{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: text2;   
}
.text2-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 80%;
}
#text2 .text-container {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 5%;
    padding-top: 5%;
}
#text2 .text-container li{
    font-size: 100%;
    line-height: 150%;
}
#text2 .btn3{
    height: 6%;
    width: 30%;
}
#text2 .image-container{
    width: 45%;
    height: 100%;
    background-size: 80%;
    background-image: url(images/text2-img.png);
    background-position: center;
    background-repeat: no-repeat;
}
#faq{
    display: flex;
    align-items: center;
    justify-content: start;
    grid-area: faq;
}
#faq h1{
    font-size: 300%;
}
#faq h3{
    color: #b7985a;
    font-size: 50%;
}
#faq p{
    color: white;
    font-size: 30%;
}
.faq-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 90%;
}
.row-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}
.row1, .row2{
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 5%;
}
.question{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: start;
    gap: 10%;
    background-image: none;
}

#porozmyslaj{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: porozmyslaj;
}
.porozmyslaj-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 80%;
}
#porozmyslaj h2{
    line-height: 150%;
}
#porozmyslaj p{
    line-height: 150%;
    font-size: 100%;
}
#porozmyslaj button{
    width: 10%;
    height: 150%;
}
#vysledky2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-area: vysledky2;
}
#vysledky2 h2{
    font-size: 200%;
    line-height: normal;
}
#vysledky2 .vysledky-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 5%;
}
#vysledky2 .vysledky-container .images-container{
    height: 80%;
}
#vysledky2 .vysledky-image1{
    background-size: 110%;
    background-image: url(images/vysledky-img4.png);
}
#vysledky2 .vysledky-image2{
    background-size: 110%;
    background-image: url(images/vysledky-img5.png);
}
#vysledky2 .vysledky-image3{
    background-size: 110%;
    background-image: url(images/vysledky-img6.png);
}
#vysledky2 .btn4{
    height: 5%;
    width: 10%;
    text-align: center;
    padding: 0% 1%;
    margin: auto;
    background-color: var(--golden);
    color: black;
}
#vysledky2 button:hover{
    background-color: transparent;
    color: var(--golden);
}
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
footer p{
    font-size: 70%;
}
footer .img{
    width: 30%;
    height: 50%;
    background-image: url(images/grindset-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.clickable:hover{
    color: var(--golden);
    cursor: pointer;
}
.terms{
    line-height: 200%;
    padding: 5% 5%;
    height: 600vh;
    display: grid;  
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 2.5fr 2.5fr;
    grid-template-areas: 
    "terms"
    "privacy"
    "disclaimer"
}
.domov-btn-container{
    width: 100%;
    height: 30%;
    margin: 2%;
}
.domov-btn{
    width: 8%;
    height: 100%;
}
 
.mobile-disappear{
    display: flex;
}
.computer-disappear{
    display: none;
}
}
